<ion-view title="Info Exámenes Finales" id="page29">
  <ion-content padding="true" class="has-header">
    <div>
      <section class="elementor-element elementor-element-5af7376 animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section fadeIn" data-id="5af7376" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-37844d5 elementor-column elementor-col-100 elementor-top-column" data-id="37844d5" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-c58b960 animated elementor-widget elementor-widget-text-editor zoomIn" data-id="c58b960" data-settings="{&quot;_animation&quot;:&quot;zoomIn&quot;}" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Para evitar dificultades en el normal desarrollo de las Mesas de Exámenes, es importante que recuerdes y respetes los siguientes temas administrativos y académicos que te contamos en esta publicación y ante cualquier problemática
                          te comuniques con nosotros.</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-7625eb3 animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomInLeft" data-id="7625eb3" data-settings="{&quot;animation&quot;:&quot;zoomInLeft&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-629d3e6 elementor-column elementor-col-100 elementor-top-column" data-id="629d3e6" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-634bd10 elementor-widget elementor-widget-text-editor" data-id="634bd10" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #ff6600;">&nbsp;</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="text-decoration: underline; color: #ff6600;">
                          <strong>Tenes 5 turnos de exámenes finales durante el año calendario</strong>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">* Febrero-Marzo (3 llamados)</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">* Mayo (1 llamado)</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">* Julio-Agosto (2 llamados)</span>&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">*&nbsp;
                        <span style="color: #000000;">Septiembre (1 llamado)</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">* Noviembre-Diciembre (2 llamado)</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <div>&nbsp;</div>
                        <div>
                          <span style="color: #000000;">Estas fechas se establecen a&nbsp;través&nbsp;del&nbsp;Calendario Académico, aprobado por el&nbsp;Consejo&nbsp;Superior en diciembre de cada año.</span>
                        </div>
                        <div>&nbsp;</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-749a402 animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomInLeft" data-id="749a402" data-settings="{&quot;animation&quot;:&quot;zoomInLeft&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-6c5324d elementor-column elementor-col-100 elementor-top-column" data-id="6c5324d" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-5813c53 elementor-widget elementor-widget-text-editor" data-id="5813c53" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Parciales la semana previa a los finales de Mayo-Septiembre</span>
                        <span style="color: #000000;">La ordenanza 054/2015, establece que, ni durante los 7 días anteriores, ni durante la semana de exámenes finales&nbsp;de los turnos de mayo y de septiembre, no se pueden tomar exámenes parciales ni ningún otro tipo de evaluación.</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-bcbc8e0 animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomInUp" data-id="bcbc8e0" data-settings="{&quot;animation&quot;:&quot;zoomInUp&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-a4e44a9 elementor-column elementor-col-100 elementor-top-column" data-id="a4e44a9" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-9322df3 animated elementor-widget elementor-widget-text-editor zoomInRight" data-id="9322df3" data-settings="{&quot;_animation&quot;:&quot;zoomInRight&quot;}" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #ff6600;">
                          <strong>
                            <u>Regularidad</u>
                          </strong>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Un examen&nbsp;final puede rendirse regular o libre, en el caso de haber regularizado la materia, esta se mantiene&nbsp;durante dos años y un turno, te recomendamos rendir la materia lo antes posible para no tener problemas con
                          la continuidad del plan de estudios. En el caso del examen libre, la mayoría&nbsp;de las materias de un plan de estudios permiten esta modalidad a excepción&nbsp;algunas que requieren practicas y trabajos de campo que no pueden
                          evaluarse en una sola mesa de examen.</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-4b2a75a animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomInLeft" data-id="4b2a75a" data-settings="{&quot;animation&quot;:&quot;zoomInLeft&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-e54e326 elementor-column elementor-col-100 elementor-top-column" data-id="e54e326" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-254cb69 elementor-widget elementor-widget-text-editor" data-id="254cb69" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="text-decoration: underline; color: #ff6600;">
                          <strong>Condiciones</strong>
                          <strong>&nbsp;para la&nbsp;</strong>
                          <strong>inscripción</strong>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Te podrás inscribir a los exámenes finales correspondientes si se&nbsp;cumplís&nbsp;los siguientes requisitos:</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">1- Haber entregado la documentación administrativa requerida (ingresantes), caso contrario se estará inhabilitado para inscribirse.</div>
                      <div class="elementor-text-editor elementor-clearfix">2- Hacerlo hasta 5&nbsp;días&nbsp;de antelación a la fecha de la mesa.</div>
                      <div class="elementor-text-editor elementor-clearfix">3- Haber aprobado las&nbsp;correlativas&nbsp;de la asignatura en la que se va a inscribir (se pueden consultar los planes de&nbsp;estudios la&nbsp;página web de tu carrera).</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <br>
                        <span style="color: #000000;">
                          <em>Es responsabilidad de los estudiantes estar formalmente inscriptos en las asignaturas que cursan (deben aparecer en el acta de cursada respectiva). Los estudiantes que no estén correctamente inscriptos perderán dicha cursada,
                            y por lo tanto no podrán rendir el examen de esa asignatura.</em>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-5d7f079 animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomInUp" data-id="5d7f079" data-settings="{&quot;animation&quot;:&quot;zoomInUp&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-4013135 elementor-column elementor-col-100 elementor-top-column" data-id="4013135" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-29c8a36 elementor-widget elementor-widget-text-editor" data-id="29c8a36" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #ff6600;">
                          <strong>
                            <u>Inscripción a un&nbsp;examen</u>
                          </strong>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">La&nbsp;inscripción&nbsp;debe realizarse por Internet a través del&nbsp;sistema&nbsp;SIU Guaraní, donde se encontrará la oferta de exámenes finales, es importante guardar el comprobante que te da el sistema por si fuere necesario,
                          en caso de no figurar en el acta de la&nbsp;mesa examinadora&nbsp;el día&nbsp;de la evaluación.&nbsp;</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-23be19c animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomIn" data-id="23be19c" data-settings="{&quot;animation&quot;:&quot;zoomIn&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-612f2da elementor-column elementor-col-100 elementor-top-column" data-id="612f2da" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-d25ab4d elementor-widget elementor-widget-text-editor" data-id="d25ab4d" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #ff6600;">
                          <strong>
                            <u>Ingreso al sistema</u>
                          </strong>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Para estudiantes ingresantes, en la&nbsp;página del SIU&nbsp;deben seleccionar&nbsp;SEDE CAPITAL, luego colocar los datos de ingreso:</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Usuario: DNI (sin puntos)</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Contraseña: Unlar2015</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Para estudiantes de años anteriores deben ingresar su contraseña vigente.</span>
                        <span style="color: #000000;">En el caso de no recordar la contraseña, esta puede recuperarse desde la opción:&nbsp;</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Olvidaste tu Clave? Click Aquí para Recuperarla</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-f79d07d animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomInRight" data-id="f79d07d" data-settings="{&quot;animation&quot;:&quot;zoomInRight&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-48b633f elementor-column elementor-col-100 elementor-top-column" data-id="48b633f" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-a4a6f16 elementor-widget elementor-widget-text-editor" data-id="a4a6f16" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #ff6600;">
                          <u>
                            <strong>No me puedo inscribir al examen&nbsp;porque figuro en un acta previa</strong>
                          </u>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Querés inscribirte y el SIU te dice que no podes porque estas incluido en el acta de la mesa anterior, es un problema muy común y se debe a que aún no se han cargado las actas de la mesa anterior en la que te presentaste, es solo
                          cuestión de esperar unas horas hasta que se actualice el sistema.</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-0b99a00 animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomInLeft" data-id="0b99a00" data-settings="{&quot;animation&quot;:&quot;zoomInLeft&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-1096d43 elementor-column elementor-col-100 elementor-top-column" data-id="1096d43" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-5514efa elementor-widget elementor-widget-text-editor" data-id="5514efa" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #ff6600;">&nbsp;</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #ff6600;">
                          <span style="text-decoration: underline;">
                            <strong>Superposición</strong>
                            <strong>&nbsp;de mesas de examen</strong>
                          </span>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Es importante que sepas que no te pueden tomar más de un examen final en un mismo día. Para el caso en que el plan de estudio de la carrera excede seis materias o más del mismo año, deben tomarse los exámenes finales con un intervalo
                          no menor a seis horas.</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-1f85394 animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomInRight" data-id="1f85394" data-settings="{&quot;animation&quot;:&quot;zoomInRight&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-a720e30 elementor-column elementor-col-100 elementor-top-column" data-id="a720e30" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-af60b8c elementor-widget elementor-widget-text-editor" data-id="af60b8c" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #ff6600;">
                          <u>
                            <strong>Para&nbsp;</strong>
                            <strong>rendir</strong>
                            <strong>&nbsp;un&nbsp;</strong>
                            <strong>examen</strong>
                            <strong>&nbsp;final</strong>
                          </u>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Siempre debes traer tu libreta universitaria o constancia de inscripción para poder rendir tu examen.</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-e2c2217 animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomInDown" data-id="e2c2217" data-settings="{&quot;animation&quot;:&quot;zoomInDown&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-4b5cf99 elementor-column elementor-col-100 elementor-top-column" data-id="4b5cf99" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-6a6cc3f elementor-widget elementor-widget-text-editor" data-id="6a6cc3f" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Tribunal o dupla examinadora de tu mesa de examen</span>
                        <span style="color: #000000;">Tu mesa de examen debe estar integrada por un tribunal compuesto por tres docentes que podrán ser:</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">*Titular; asociado y/o adjunto</div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Excepcionalmente podrá incluirse en la mesa:</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">*Docente de cátedras afines y/o jefes de trabajos prácticos.
                        <p>&nbsp;</p>
                        <hr>&nbsp;</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-3cae0e7 animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomIn" data-id="3cae0e7" data-settings="{&quot;animation&quot;:&quot;zoomIn&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-f56e9ed elementor-column elementor-col-100 elementor-top-column" data-id="f56e9ed" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-e805070 elementor-widget elementor-widget-text-editor" data-id="e805070" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #ff6600;">
                          <span style="text-decoration: underline;">
                            <strong>Sobre el horario de inicio del&nbsp;</strong>
                            <strong>examen</strong>
                          </span>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">El docente que te avalúa&nbsp;puede tener una tardanza de hasta 30 minutos&nbsp;para dar inicio al examen final.</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-56ad9e0 animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomInUp" data-id="56ad9e0" data-settings="{&quot;animation&quot;:&quot;zoomInUp&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-18bc999 elementor-column elementor-col-100 elementor-top-column" data-id="18bc999" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-8605009 elementor-widget elementor-widget-text-editor" data-id="8605009" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="text-decoration: underline; color: #ff6600;">
                          <strong>Si el docente falta a la mesa de examen</strong>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">En el caso de que el docente falte a la mesa de examen, es el Decano quien&nbsp;deberá&nbsp;suspender laevaluación,&nbsp;fijar la&nbsp;próxima&nbsp;fecha siempre dentro del mismo turno y comunicar a la&nbsp;secretaría&nbsp;de asuntos&nbsp;estudiantiles.</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-d99cdf4 animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomInRight" data-id="d99cdf4" data-settings="{&quot;animation&quot;:&quot;zoomInRight&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-1ce05a9 elementor-column elementor-col-100 elementor-top-column" data-id="1ce05a9" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-6f0a7e2 elementor-widget elementor-widget-text-editor" data-id="6f0a7e2" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="text-decoration: underline;">
                          <span style="color: #ff6600; text-decoration: underline;">
                            <strong>Regularidad</strong>
                          </span>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Tu condición&nbsp;de alumno regular en la materia dura dos años y un turno contado desde la finalización del cursado de dicha materia.</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-d1f910e animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomInUp" data-id="d1f910e" data-settings="{&quot;animation&quot;:&quot;zoomInUp&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-cfafdf2 elementor-column elementor-col-100 elementor-top-column" data-id="cfafdf2" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-889042e elementor-widget elementor-widget-text-editor" data-id="889042e" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="text-decoration: underline;">
                          <span style="color: #ff6600; text-decoration: underline;">
                            <strong>La fecha de examen es feriado</strong>
                          </span>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">S
                        <span style="color: #000000;">i se decreta feriado o asusto el&nbsp;día&nbsp;que te tocaba rendir, el examen se&nbsp;debería&nbsp;tomar el primer&nbsp;día&nbsp;hábil&nbsp;inmediato&nbsp;siguiente a la misma hora.</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-cc0f2dd animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomInDown" data-id="cc0f2dd" data-settings="{&quot;animation&quot;:&quot;zoomInDown&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-84de853 elementor-column elementor-col-100 elementor-top-column" data-id="84de853" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-d007ebb elementor-widget elementor-widget-text-editor" data-id="d007ebb" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="text-decoration: underline;">
                          <span style="color: #ff6600; text-decoration: underline;">
                            <strong>Evaluación de </strong>
                            <strong>exámenes&nbsp;</strong>
                            <strong>finales</strong>
                          </span>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Los&nbsp;exámenes&nbsp;finales son&nbsp;públicos&nbsp;y deben ser receptados y calificados de forma individual&nbsp;desde exposiciones orales y/o escritas producidas por cada alumnos.</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="elementor-element elementor-element-6aecfc6 animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section zoomIn" data-id="6aecfc6" data-settings="{&quot;animation&quot;:&quot;zoomIn&quot;}"
        data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-element elementor-element-ce24a0e elementor-column elementor-col-100 elementor-top-column" data-id="ce24a0e" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-72b4062 elementor-widget elementor-widget-text-editor" data-id="72b4062" data-element_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="text-decoration: underline;">
                          <span style="color: #ff6600; text-decoration: underline;">
                            <strong>Te faltan 3 finales y querés pedir mesa especial para recibirte</strong>
                          </span>
                        </span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <span style="color: #000000;">Podes hacerlo por única vez, luego de que pasen 5 días hábiles desde la ultima fecha de exámenes del turno ordinario. Debe ser 15 días antes de la fecha establecida para la mesa ordinaria siguiente. Esto se realiza con nota dirigida
                          al Decano, acompañando copia de DNI y libreta (1° y 2° hoja y finales.)</span>
                      </div>
                      <div class="elementor-text-editor elementor-clearfix">&nbsp;</div>
                      <div class="elementor-text-editor elementor-clearfix">
                        <hr>&nbsp;</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/T3Q2UfX6TCqKUSWimyKt_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>