<ion-view title="Ingresantes 2020" id="page17">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Los interesados en cursar las carreras que ofrece la Universidad Nacional de La Rioja podrán inscribirse de manera online entre el 28 de Noviembre del corriente año y el 7 de Febrero de 2020; mientras que la documentación solicitada podrá presentarse
        hasta la última semana de diciembre y durante la primera semana de febrero de 2020.</p>
      <p>La solicitud debe iniciarse a través&nbsp;
        <a href="https://ingreso.unlar.edu.ar/preinscripcion/ua1/acceso" target="_blank" rel="noopener">formulario de preinscripción online</a>&nbsp;donde deben registrarse, completar dicho formulario e imprimirlo y luego deberán adjuntar la documentación correspondiente -en una carpeta colgante- y presentarla en la Oficina de Alumnos que se ubica
        en uno de los laterales de la Biblioteca de la UNLaR&nbsp;en los horarios de 8:30 a 12:30 y de 15 a 20hs.</p>
      <p>Cabe destacar que, de acuerdo a la Ley Educación Superior 24.521, los mayores de 25 años que no terminaron el secundario y aspiran a cursar una carrera universitaria, pueden inscribirse presentando certificado analítico de estudios primarios y certificado
        de trabajo acorde a la carrera elegida.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/MXoIAzYbSpiEFsEdG2lm_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>