<ion-view title="Red de Trabajo" id="page27">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/a182OWqdQBuXAef5Ki2D_Red-de-trabajo.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <header>Con el objetivo de apuntalar a graduados y estudiantes avanzados en materia de inserción laboral, la iniciativa incluye pasantías rentadas y un programa de inclusión laboral, vinculando a los jóvenes profesionales con aquellas empresas que requieran
        cubrir vacantes en sus respectivas áreas de trabajo.</header>
      <p>&nbsp;</p>
      <p>Desde aquí podes ingresar a la&nbsp;
        <a href="https://reddetrabajo.unlar.edu.ar/" target="_blank" rel="noopener">Red de Trabajo</a>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/qTuYFFMXT2uOgaVEt7DW_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>